*.xcuserstate
*.xcuserdata
Github-Combine-SwiftUI.xcodeproj/xcuserdata/wit.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Github-Combine-SwiftUI.xcodeproj/xcuserdata/wit.xcuserdatad/xcschemes/xcschememanagement.plist
